$body-bg: var(--vscode-editor-background);
$body-color: var(--vscode-foreground);
$link-color: var(--vscode-textLink-foreground);
$link-hover-color: $link-color;
$link-hover-decoration: none !default;

$list-group-bg: var(--vscode-notifications-background);
$list-group-active-bg: var(--vscode-titleBar-activeBackground);
$list-group-border-width: 0;
$list-group-action-active-bg: $list-group-bg;
$list-group-active-color: var(--vscode-foreground);
$list-group-action-color: var(--vscode-foreground);
$list-group-hover-bg: var(--vscode-list-hoverBackground);

$font-size-base: .85rem !default;
$pre-color: var(--vscode-foreground);
$code-color: var(--vscode-foreground);

@import "../../../node_modules/bootstrap/scss/bootstrap";

.text-truncate-left {
    @extend .text-truncate;
    @extend .text-left;
    direction: rtl;
}

code.word-break-all {
    word-break: break-all;
}

code.text-warning {
    color: var(--vscode-editorWarning-foreground);
}

pre.pre-wrap {
    white-space: pre-wrap;
}

.rotate {
    transform: rotate(90deg);
}

.method-link, .method-link:hover {
    color: var(--vscode-foreground);
}
