$body-bg: var(--vscode-editor-background);
$body-color: var(--vscode-foreground);
$link-color: var(--vscode-textLink-foreground);
$link-hover-color: $link-color;
$link-hover-decoration: none !default;

$table-bg:               var(--vscode-notifications-background);
$table-border-color:     transparent !default;
$table-color:            var(--vscode-foreground);

$font-size-base: .85rem !default;

div.cell { padding-bottom:.6rem }

div.row-custom {
    margin: 0 auto;
    padding-top: 0.6rem;
}
div.row-custom:hover {
    background: var(--vscode-list-hoverBackground);
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
