<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="JDTLS.EXT" sequenceNumber="38">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.jdt.source.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
            <unit id="org.mockito.mockito-core" version="0.0.0"/>
            <unit id="org.apache.commons.commons-io" version="0.0.0"/>
            <repository location="https://download.eclipse.org/eclipse/updates/4.33/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.xtext.xbase.lib" version="0.0.0"/>
            <repository location="https://download.eclipse.org/releases/2024-09/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.jdt.ls.core" version="0.0.0"/>
            <unit id="org.eclipse.m2e.jdt" version="0.0.0"/>
            <unit id="org.eclipse.buildship.core" version="0.0.0"/>
            <unit id="org.eclipse.lsp4j" version="0.0.0"/>
            <unit id="org.apache.commons.lang3" version="0.0.0"/>
            <repository location="https://download.eclipse.org/jdtls/snapshots/repository/latest/"/>
        </location>
        <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
            <dependencies>
                <dependency>
                    <groupId>org.jacoco</groupId>
                    <artifactId>org.jacoco.core</artifactId>
                    <version>0.8.12</version>
                </dependency>
            </dependencies>
        </location>
    </locations>
</target>
