<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="com.java.junit.plugin.internal.TestDelegateCommandHandler">
            <command id="vscode.java.test.fetch"/>
       </delegateCommandHandler>
   </extension>
</plugin>