<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
    <delegateCommandHandler class="com.microsoft.java.test.plugin.handler.TestDelegateCommandHandler">
      <command id="vscode.java.test.get.testpath" />
      <command id="vscode.java.test.runtime.classpath" />
      <command id="vscode.java.test.project.info" />
      <command id="vscode.java.test.search.items" />
      <command id="vscode.java.test.search.items.all" />
      <command id="vscode.java.test.search.codelens" />
      <command id="vscode.java.test.search.location" />
    </delegateCommandHandler>
  </extension>
</plugin>
